body{
    background-image: url("/resources/img/obrazek.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg-university{
    background-color: darkred;
}